<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Application database configuration-->
    <add key="DatabaseConnectionString" value="Data Source=TOSHIBA;Initial Catalog=MediaPlayerDatabase;Integrated Security=True" />
    <add key="DatabaseName" value="MediaPlayerDatabase" />
    <add key="TableName" value="VideoProcessingLogs" />
    
    <!--User database configuration-->
    <add key="userTableName" value="SessionInfo"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseCustomApplication" value="true" />
    <add key="UseCustomFFmpeg" value="true"/>
    <add key="UseCustomFFProbe" value="true"/>
    <add key="FFmpegLocation" value="C:\WebApplications\ffmpeg"/>
    <add key="FFProbeLocation" value="C:\WebApplications\ffmpeg"/>
    <add key="LogLocation" value="C:\logs"/>
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>